{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.gender.label(class="form-label") }}
                    {% if form.gender.errors %}
                        {{ form.gender(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.gender.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.gender(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.age.label(class="form-label") }}
                    {% if form.age.errors %}
                        {{ form.age(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.age(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                        {{ form.day.label(class="form-label") }}
                        {% if form.day.errors %}
                            {{ form.day(class="is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.day.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.day(class="form-control form-control-lg") }}
                        {% endif %}
                </div>
                <div class="form-group">
                    {{ form.time.label(class="form-label") }}
                    {% if form.time.errors %}
                        {{ form.time(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.time.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.time(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.interests.label(class="form-label") }}
                    {% if form.interests.errors %}
                        {{ form.interests(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.interests.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.interests(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.postal_code.label(class="form-label") }}
                    {% if form.postal_code.errors %}
                        {{ form.postal_code(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.postal_code.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.postal_code(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.min_budget.label(class="form-label") }}
                    {% if form.min_budget.errors %}
                        {{ form.min_budget(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.min_budget.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.min_budget(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.max_budget.label(class="form-label") }}
                    {% if form.max_budget.errors %}
                        {{ form.max_budget(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.max_budget.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.max_budget(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn--form") }}
            </div>
        </form>
    </div>
{% endblock content %}
