{% extends "layout.html" %}
{% block content %}
    {% for place in data %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="#">{{ place['Name'] }}</a></h2>
            <p class="article-content">{{ place['Address'] }}</p>
            <p><strong>Phone number:</strong> {{ place['Phone number'] }}</p>
            <p><strong>Rating:</strong> {{ place['Rating'] }}</p>
            <p><strong>Price level:</strong> {{ place['Price level'] }}</p>
            <p><strong>Website:</strong> {% if place['Website'] %}<a href="{{ place['Website'] }}" target="_blank">{{ place['Website'] }}</a>{% else %}No website{% endif %}</p>
            <p><strong>Hours:</strong></p>
            <ul>
              {% for hour in place['Hours'] %}
                <li>{{ hour }}</li>
              {% endfor %}
            </ul>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
